enable-rpc=true
rpc-listen-all=true
dir={{getenv "DOWNLOAD_DIR" "/downloads"}}
log={{getenv "DOWNLOAD_DIR" "/downloads"}}/aria2.log
max-concurrent-downloads={{getenv "CONCURRENT_DOWNLOADS" "4"}}
split={{getenv "SPLIT" "4"}}
max-connection-per-server={{getenv "CONNECTIONS_PER_SERVER" "4"}}
user-agent={{getenv "USER_AGENT" ""}}
file-allocation={{getenv "FILE_ALLOCATION" "none"}}
allow-overwrite={{getenv "ALLOW_OVERWRITE" "true"}}
auto-file-renaming={{getenv "AUTO_FILE_RENAMING" "false"}}
