enable-rpc=true
rpc-listen-all=true
dir={{ or (getenv "DOWNLOAD_DIR") "/downloads"}}
log={{ or (getenv "DOWNLOAD_DIR") "/downloads"}}/aria2.log
max-concurrent-downloads={{ or (getenv "CONCURRENT_DOWNLOADS") "4"}}
split={{ or (getenv "SPLIT") "4"}}
max-connection-per-server={{ or (getenv "CONNECTIONS_PER_SERVER") "4"}}
user-agent={{ or (getenv "USER_AGENT") ""}}
